<h1>
Youngest director
</h1>

<p>
The youngest director in our dataset right now is <a href="<%=@young_director.id %>"><%= @young_director.name %></a>, born on <%= @young_director.dob.strftime('%B %d, %Y') %>.
</p>
